*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00d0ff, #fb5d5d);
    background-size: cover;
    background-position: center;
    font-family: 'robot', sans-serif;
}

.container{
    position: relative;
    width: 30%;
    height: 45vh;
    border: 5px solid white;
   background-color: rgb(252, 231, 213);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.card-img-top{
width: 300px;
height: 200px;
}

.logout{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(255, 0, 0);
    background: none;
    text-decoration:underline;
    cursor: pointer;
    outline: none;
    border: none;

}

.greeting{
    font-family: 'dosis' ;
    font-size: 80px;
    color: white;
    font-weight: 800;
    text-transform: capitalize;
}